/* 28/04/2022
Gabriel Arno Voltolini
Lucas Mota de Oliveira
Victor do Amaral */

body {
    background: linear-gradient(90deg, rgba(73, 80, 82, 1) 0%, rgba(168, 173, 175, 1) 100%);
}

#icon {
    background-color: #ccc;
    border-radius: 50%;
    margin-top: 4px;
    width: 50px;
    display: inline;
    vertical-align: middle;
    transition: all 250ms;
}

#icon-item {
    padding: 10px;
    transition: all 250ms;
}

#icon-item:hover {
    opacity: 0.6;
}

#content {
    width: 40vw;
    margin: auto;
    text-align: center;
    margin-top: 7em;
}

#mascot-image {
    width: 15em;
}

#description-container {
    font-size: 2em;
}